*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Archivos compilados
*.class

# Paquetes Binarios 
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Archivos de logs y bases de datos 
*.log
*.sql
*.sqlite

# Directorios de compilación
/bin/
/out/

# Otros directorios
build/
temp/
tmp/
*.tmp
*.bak

# Archivos de configuración de Android/IDE
*.iml
.idea/
.gradle/
/local.properties

# Archivos de configuración de MacOS
.DS_Store

# Archivos de configuración de Windows
Thumbs.db
